@(field: Field, label: Option[String] = None, inputType: String = "text", args: Map[Symbol, Any] = Map.empty)(implicit messages: Messages)

<div class="form-group @if(field.hasErrors) {has-error}">
    @if(label.isDefined) {
        <label>@label.get</label>
    }
    <input type="@inputType" class="form-control" id="@field.id" name="@field.name"
        @toHtmlArgs(args) value="@field.value.getOrElse("")" />
    <span class="help-block">@{
        field.error.map { error => messages(error.message, error.args.mkString) }
    }</span>
</div>