@import views.html.admin.main
@import java.time.LocalDate
@import dto.BookingDto.DaySlotDto

@(bookingDaySlots: Seq[DaySlotDto], prevDate: Option[LocalDate], nextDate: Option[LocalDate], requestedDate: LocalDate)(implicit req: RequestHeader)

@main() {
    <div class="bookingSlots">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h2>Booking Dates:</h2>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="btn-group pull-right">
                    <a href="@if(prevDate.isDefined) {@controllers.admin.routes.BookingSlotController.getBookingSlots(prevDate.get)} else {#}"
                    class="btn btn-default btn-flat @if(prevDate.isEmpty) {disabled}">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a href="@if(nextDate.isDefined) {@controllers.admin.routes.BookingSlotController.getBookingSlots(nextDate.get)} else {#}"
                    class="btn btn-default btn-flat @if(nextDate.isEmpty) {disabled}">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                    @for(bookingDate <- bookingDaySlots) {
                        <li class="@if(bookingDate.date.equals(requestedDate)) {active}">
                            <a href="#tab_@bookingDate.id" data-toggle="tab" aria-expanded="@if(bookingDate.date.equals(requestedDate)) {true} else {false}">
                            @bookingDate.dateStr
                            </a>
                        </li>
                    }
                    </ul>
                    <div class="tab-content">
                    @for(bookingDate <- bookingDaySlots) {
                        <div class="tab-pane @if(bookingDate.date.equals(requestedDate)) {active}" id="tab_@bookingDate.id">
                            <div class="no-padding">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Capacity</th>
                                            <th>Reserved</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @for(slot <- bookingDate.timeSlots) {
                                        <tr>
                                            <td>@slot.startTime</td>
                                            <td>@slot.endTime</td>
                                            <td>@slot.capacity</td>
                                            <td>@slot.reserved</td>
                                            <td>
                                                <a href="@controllers.admin.routes.BookingSlotController.getBookingSlot(slot.id, bookingDate.date)" class="pull-right" style="font-size:25px;">
                                                    <i class="fa fa-pencil-square"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
}