@(bookingDaySlots: Seq[dto.BookingDto.DaySlotDto], prevDate: Option[java.time.LocalDate], nextDate: Option[java.time.LocalDate])

<div class="row">
    <div class="col-md-6 col-xs-6">
        <h2>Booking Dates:</h2>
    </div>
    <div class="col-md-6 col-xs-6">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default btn-flat @if(prevDate.isEmpty) {disabled}" @if(prevDate.isDefined) {onclick="getDaySlots('@prevDate.get')"}>
                <i class="fa fa-arrow-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-flat @if(nextDate.isEmpty) {disabled}" @if(nextDate.isDefined) {onclick="getDaySlots('@nextDate.get')"}>
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
            @for(bookingDate <- bookingDaySlots.zipWithIndex) {
                <li class="@if(bookingDate._2 == 0) {active}">
                    <a href="#tab_@bookingDate._1.id" data-toggle="tab" aria-expanded="@if(bookingDate._2 == 0) {true} else {false}">
                    @bookingDate._1.date
                    </a>
                </li>
            }
            </ul>
            <div class="tab-content">
            @for(bookingDate <- bookingDaySlots.zipWithIndex) {
                <div class="tab-pane @if(bookingDate._2 == 0) {active}" id="tab_@bookingDate._1.id">
                    <div class="row">
                    @for(slot <- bookingDate._1.timeSlots) {
                        <div class="col-md-6">
                            <a href="@controllers.admin.routes.BookingSlotController.getBookingSlot(slot.id)">
                                <span class="h4">@slot.startTime - @slot.endTime</span>
                                <i class="fa fa-pencil-square"></i>
                            </a>
                        </div>
                    }
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>