@(dataForm: Form[PasswordRecovery])(implicit messages: Messages)
@import views.html.components._
@Main("Password restore") {
    <div class="well">
    @helper.form(action = routes.PasswordRecoveryController.submitForm()) {
        <fieldset>

            <div style="display : none">
            @helper.inputText(dataForm("code"), 'type -> "hidden")
            </div>

            @password(dataForm("password"),
                help = "Password must be five or more characters. (required)")

            @password(dataForm("passwordRepeat"),
                label = "Confirm Password")

            <div class="form-group @if(dataForm.hasGlobalErrors) {has-error}">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                @dataForm.globalErrors.map { error =>
                    <span class="help-block">
                        @error.message
                    </span>
                }
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    }
    </div>
}