<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%coloredLevel] from [%logger] - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender"
              queueSize="1000" discardingThreshold="0">
        <appender-ref ref="STDOUT" />
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="play" level="INFO"/>
    <logger name="application" level="DEBUG"/>
    <logger name="slick" level="ERROR"/>
    <logger name="akka" level="INFO" />

    <logger name="actors" level="DEBUG"/>
    <logger name="config" level="DEBUG"/>
    <logger name="controllers" level="DEBUG"/>
    <logger name="dao" level="DEBUG"/>
    <logger name="security" level="DEBUG"/>
    <logger name="services" level="DEBUG"/>
    <logger name="GlobalErrorHandler" level="DEBUG"/>

    <root level="OFF">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
